/* Start Dashboard Customization */
.dashboard__list__items {
    list-style: none
}

.dashboard__list__items li.active{
    background-color: var(--color-primary);
    width: fit-content;
    padding: 3px 5px;
    border-radius: 15px;
}
.dashboard__list__items li a {
    text-transform: capitalize;
}
.dashboard__list__items li.active a {
    color: white !important;
}
/* End Dashboard Customization */



.preview-img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 4px #e9e9e975;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.preview-img .icon {
    font-size: 50px;
    color: #c2b9b9;
}
.uploaded-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input, textarea {
    outline: none !important;
    box-shadow: none !important;
}
textarea.form-control, select {
    font-size: 16px !important;
    border-radius: 15px;
}
textarea.form-control:focus{
    border-color: var(--color-primary) !important;
}
select , option {
    font-size: 16px !important;
}
select {
    height: 30px !important;
}
